name: Rust Clippy

on:
  push:
    branches:
      - *
  pull_request:
    branches:
      - *
  workflow_dispatch:

jobs:
  clippy:
    name: Run Clippy Analyzer
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install stable Rust toolchain with Clippy
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
